/* Common Variables */
:root {
  --font-size: 14px;
  --line-height: 1.5;
  --padding: 20px;
}

/* Light Theme (default) */
:root {
  --background-color: #fff;
  --primary-text-color: #727272;
  --heading-text-color: #222;
  --h2-text-color: #393939;
  --subheading-text-color: #494949;
  --link-color: #267cb9;
  --link-hover-color: #069;
  --link-small-color: #777;
  --blockquote-border-color: #e5e5e5;
  --code-text-color: #333;
  --pre-background-color: #f8f8f8;
  --pre-border-color: #e5e5e5;
  --table-border-color: #e5e5e5;
  --dt-th-text-color: #444;
  --kbd-background-color: #fafbfc;
  --kbd-border-color: #c6cbd1;
  --kbd-border-bottom-color: #959da5;
  --kbd-text-color: #444d56;
  --downloads-link-color: #676767;
  --downloads-link-hover-color: #675c5c;
  --downloads-background-color: #f4f4f4;
  --downloads-border-color: #e0e0e0;
  --strong-text-color: #222;
  --hr-background-color: #e5e5e5;
  --print-text-color: #444;
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #121212;
    --primary-text-color: #ddd;
    --heading-text-color: #fff;
    --h2-text-color: #cccccc;
    --subheading-text-color: #bbbbbb;
    --link-color: #4a8cdf;
    --link-hover-color: #2894ff;
    --link-small-color: #999;
    --blockquote-border-color: #444;
    --code-text-color: #eee;
    --pre-background-color: #333;
    --pre-border-color: #444;
    --table-border-color: #444;
    --dt-th-text-color: #ccc;
    --kbd-background-color: #333;
    --kbd-border-color: #555;
    --kbd-border-bottom-color: #666;
    --kbd-text-color: #bbb;
    --downloads-link-color: #999;
    --downloads-link-hover-color: #888;
    --downloads-background-color: #333;
    --downloads-border-color: #444;
    --strong-text-color: #fff;
    --hr-background-color: #444;
    --print-text-color: #ccc;
  }
}

/* Base Styles */
body {
  background-color: var(--background-color);
  padding: var(--padding);
  font: var(--font-size) / var(--line-height) 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: var(--primary-text-color);
  font-weight: 400;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-text-color);
  margin: 0 0 20px;
}

/* Paragraphs, Lists, Tables, Code Blocks, etc. */
p,
ul,
ol,
table,
pre,
dl {
  margin: 0 0 20px;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  color: var(--h2-text-color);
}

h3,
h4,
h5,
h6 {
  color: var(--subheading-text-color);
}

/* Links */
a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--link-hover-color);
  font-weight: bold;
}

a small {
  font-size: 11px;
  color: var(--link-small-color);
  margin-top: -0.3em;
  display: block;
}

a:hover small {
  color: var(--link-small-color);
}

/* Wrapper and Container Styles */
.wrapper {
  width: 860px;
  margin: 0 auto;
}

/* Blockquote Styles */
blockquote {
  border-left: 1px solid var(--blockquote-border-color);
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

/* Code and Pre Styles */
code,
pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: var(--code-text-color);
}

pre {
  padding: 8px 15px;
  background: var(--pre-background-color);
  border-radius: 5px;
  border: 1px solid var(--pre-border-color);
  overflow-x: auto;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid var(--table-border-color);
}

/* Definition List Styles */
dt {
  color: var(--dt-th-text-color);
  font-weight: 700;
}

th {
  color: var(--dt-th-text-color);
}

img {
  max-width: 100%;
}

/* KBD Element Styles */
kbd {
  background-color: var(--kbd-background-color);
  border: 1px solid var(--kbd-border-color);
  border-bottom-color: var(--kbd-border-bottom-color);
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 var(--kbd-border-bottom-color);
  color: var(--kbd-text-color);
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

/* Header Styles */
header {
  width: 200px;
  float: left;
  position: fixed;
  margin-bottom: 20px;
  -webkit-font-smoothing: subpixel-antialiased;

  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  grid-template-areas:
    'avatar'
    'contacts'
    'downloads';
  @media screen and (max-width: 960px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas: 'avatar contacts' 'avatar downloads';
  }
  @media screen and (max-width: 480px) {
    grid-template-areas: 'avatar contacts' 'downloads downloads';
  }
  @media screen and (max-width: 380px) {
    grid-template-columns: 1fr;
    grid-template-areas: 'avatar' 'contacts' 'downloads';
  }
}

/* Strong Element Styles */
strong {
  color: var(--strong-text-color);
  font-weight: 700;
}

/* Main Section Styles */
section {
  width: 620px;
  float: right;
  padding-bottom: 150px;
}

/* Small Element Styles */
small {
  font-size: 11px;
}

/* Horizontal Rule Styles */
hr {
  border: 0;
  background: var(--hr-background-color);
  height: 1px;
  margin: 0 0 20px;
}

/* Footer Styles */
footer {
  width: 270px;
  float: left;
  position: fixed;
  bottom: 50px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.downloads {
  max-width: 200px;
  display: block;
  grid-area: downloads;

  @media screen and (max-width: 720px) {
    max-width: 100%;
  }

  button {
    color: var(--downloads-link-color);
    background-color: var(--downloads-background-color);
    border: 1px solid var(--downloads-border-color);
    border-radius: 4px;
    font-size: 11px;
    width: auto;
    padding: 0px 0px;
    height: 40px;
    width: 100%;
    strong {
      display: block;
      font-size: 14px;
    }
  }
}

/* Responsive Styles */
@media print, screen and (max-width: 960px) {
  div.wrapper {
    width: auto;
    margin: 0;
  }

  header,
  section,
  footer {
    float: none;
    position: static;
    width: auto;
  }

  section {
    border: 1px solid var(--pre-border-color);
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
  }

  header a small {
    display: inline;
  }

  // header ul {
  //   position: absolute;
  //   right: 50px;
  //   top: 52px;
  // }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  header {
    padding: 0;
  }

  header ul,
  header p.view {
    position: static;
  }

  pre,
  code {
    word-wrap: normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding: 15px;
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: var(--print-text-color);
  }
}
