<!DOCTYPE html>
<html lang="{{ page.lang | default: site.default_lang }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if site.github.owner_gravatar_url %}
    <link rel="icon" type="image/x-icon" href="{{ site.github.owner_gravatar_url }}">
    {% endif %}
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}<!DOCTYPE html>

  </head>
  {% assign current_lang = page.lang | default: site.default_lang %}
  {% assign i18n_config = site.data[current_lang].i18n-config %}
  <body>
    <div class="wrapper">
      <header>
        {% if site.github %}
          <img class="owner-avatar" src="{{ site.github.owner_gravatar_url | relative_url}}" alt="{{ site.github.owner.name }}" />
        {% endif %}
          <div id="contacts">
            <h2>{{ i18n_config.header.title }}</h2>
            <div class="contacts-section">
              :email: <a target="_blank" rel="noopener" href="mailto:{{  site.github.owner.email }}">{{  site.github.owner.email }}</a>
              :briefcase:<a target="_blank" rel="noopener" href="{{ site.linkedin}}">{{ i18n_config.header.linkedin }}</a>
              :pushpin:<span class="country-flag">{{ i18n_config.header.location }} - {{ site.github.owner.location }}</span>
            </div>
          </div>
          {% if site.show_downloads %}
            <a class="link-button" target="_blank" rel="noopener" href="{{page.document}}"><button type="button" >{{ i18n_config.header.download_as_pdf | markdownify }}</button></a>
          {% endif %}

      </header>
      <section>
      <div class="title">
        <h1>{{ site.github.owner.name }}</h1>
        <p>{{ site.data[current_lang].owner_info.professional_title }}</p>
      </div>
      {{ content }}
      </section>
      <footer>
        <div>
          {% assign other_langs = site.languages | where_exp: "lang", "lang != current_lang" %}
          {% for lang in other_langs %}
            {%- if lang == site.default_lang -%}
             {%- assign permalink = "/" -%}
            {%- else -%}
              {%- assign permalink = "/" | append: lang -%}
            {%- endif -%}
            <a class="link-button" href="{{ permalink }}">
              <button>
                {{ site.data[lang].i18n-config.footer.language_switch | markdownify }}
              </button>
            </a>
          {% endfor %}
        </div>
        {% if site.github.is_user_page %}
        <a href="{{ site.github.owner_url }}">{{ i18n_config.footer.view_github_profile }}</a>
        {% endif %}
        <div class="theme-creator-credit">
          {{ i18n_config.footer.hosted_on_github_pages | markdownify }}
        </div>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
